@import "./../../style/default.less";
.home-wrap{
  background-color: @colorM;
  height: calc(62vh);
  display: flex;
  //垂直居中
  align-items: center;
  //水平居中
  justify-content: center;
  //控制字体
  font-size: 20px;
}